body {
    margin: 0;
  }

.grid-container {
    display: grid;
    justify-content: content;
    align-content: content;    
}


.grid-item {
    display: grid;
    justify-content: center;
    align-content: center;    
    border: 1px dotted grey;
}

.grid-item .reset{
    background-color: transparent;
}

.grid-item.foret {
    background-image: url(/assets/foret.png);
    background-size: cover;
}

.grid-item.village {
    background-image: url(/assets/village.png);
    background-size: cover;
}

.grid-item.champs {
    background-image: url(/assets/champs.png);
    background-size: cover;
}

.grid-item.eau {
    background-image: url(/assets/eau.png);
    background-size: contain;
}

.grid-item.monstre {
    background-image: url(/assets/monstre.png);
    background-size: contain;
}

.grid-item.montagne {
    background-image: url(/assets/montagne.png);
    background-size: contain;
}

.grid-item.ruine {
    background-image: url(/assets/ruine.png);
    background-size: contain;
}

.grid-item.overlay {
    opacity: 0.5;
}



/***********************************************/
/* MAP CSS
/***********************************************/
#map {
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}


#map.grid-container {
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: repeat(11, 40px);

}

#map .grid-item.overlay {
    opacity: 0.50;
}



/***********************************************/
/* PLAYER CSS
/***********************************************/

#player {
    position:absolute;
    transform:translate(-50%,-50%);
    transition: transform 0.07s ease-in-out; 

}

#player.grid-container {
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(2, 40px);    
}

#player.grid-container > .grid-item {
    border: transparent;
    transition: background-image .25s ease-in-out;    
}

/***********************************************/
/* LEGEND CSS
/***********************************************/
#legend {
    float: left;
}

#legend.grid-container {
    grid-template-columns: 40px 150px;
    grid-template-rows: repeat(8, 40px);    
}