@font-face {
    font-family: 'Conamore Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Conamore Regular'), url('./assets/fonts/Conamore-Regular.woff') format('woff');
}

body {
    margin: 0;
    background-color: #161210;
    color: white;
    font-family:'Conamore Regular'
  }

.grid-container {
    display: grid;
}


.grid-item {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid-item .reset{
    background-color: transparent;
}

.grid-item.foret {
    background-image: url(./assets/foret.png);
    background-size: cover;
}

.grid-item.village {
    background-image: url(./assets/village.png);
    background-size: cover;
}

.grid-item.champs {
    background-image: url(./assets/champs.png);
    background-size: cover;
}

.grid-item.eau {
    background-image: url(./assets/eau.png);
    background-size: contain;
}

.grid-item.monstre {
    background-image: url(./assets/monstre.png);
    background-size: contain;
}

.grid-item.montagne {
    background-image: url(./assets/montagne.png);
    background-size: contain;
}

.grid-item.ruine {
    background-image: url(./assets/ruine.png);
    background-size: contain;
}

.grid-item.overlay {
    opacity: 0.5;
}



/***********************************************/
/* MAP CSS
/***********************************************/

#map-container {
    background-image: url("assets/map.png");
    background-repeat: no-repeat;
    background-size: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
}


#map.grid-container {
    position: relative;
    top: 179px;
    left: 63px;
    grid-template-columns: repeat(11, 43px);
    grid-template-rows: repeat(11, 43px);
    opacity: 1;
}

#map .grid-item.overlay {
    opacity: 0.5;
}

/***********************************************/
/* MAP CSS
/***********************************************/

#golden-mountain.grid-container {
    position: relative;
    top: 225px;
    left: 105px;
    opacity: 0.5;
    grid-template-columns: repeat(14, 31px);
}

#golden-mountain.grid-container > .grid-item {
    border: 1px dotted grey;
    background-image: url("./assets/foret.png");
    height: 20px;
}

/***********************************************/
/* PLAYER CSS
/***********************************************/

#player {
    position:absolute;
    transform:translate(-50%,-50%);
    transition: transform 0.07s ease-in-out; 
}


#player.grid-container {
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(2, 40px);
}

#player.grid-container > .grid-item {
    border: transparent;
    transition: background-image .25s ease-in-out;    
}


#player.grid-container > .grid-item.allowed {
    box-shadow: 0 0 10px green;
}

#player.grid-container > .grid-item.forbidden {

    box-shadow: 0 0 10px red;
}


/***********************************************/
/* LEGEND CSS
/***********************************************/
#legend.grid-container {
    grid-template-columns: 40px 150px;
    grid-template-rows: repeat(8, 40px);    
}